<!DOCTYPE html>
<html>
<head>
    <title>Todo App</title>
</head>
<body>

<div style="display:flex;">

    <!-- Sidebar -->
    <div style="width:200px; padding:10px; border-right:1px solid #ccc;">
        <h3>Menu</h3>

        <ul>
            <li><a href="{% url 'todo:task-list' %}">Home</a></li>
            <li><a href="{% url 'todo:tag-list' %}">Tags</a></li>
        </ul>
    </div>

    <!-- Content -->
    <div style="padding:20px; flex:1;">
        {% block content %}{% endblock %}
    </div>

</div>

</body>
</html>
