{% extends "todo/base.html" %}

{% block content %}

<h1>Tasks</h1>

<a href="{% url 'todo:task-create' %}">Add Task</a>

<ul>
{% for task in tasks %}
    <li>
        <h3>{{ task.content }}</h3>

        <p>Created: {{ task.created_at }}</p>
        <p>Deadline: {{ task.deadline }}</p>
        <p>Done: {{ task.is_done }}</p>

        <p>
            Tags:
            {% for tag in task.tags.all %}
                {{ tag.name }}
            {% empty %}
                no tags
            {% endfor %}
        </p>

        <a href="{% url 'todo:task-update' task.id %}">Update</a>
        <a href="{% url 'todo:task-delete' task.id %}">Delete</a>

        {% if task.is_done %}
            <a href="{% url 'todo:task-toggle' task.id %}">Undo</a>
        {% else %}
            <a href="{% url 'todo:task-toggle' task.id %}">Complete</a>
        {% endif %}
    </li>
    <hr>
{% endfor %}
</ul>

{% endblock %}
