{% extends "todo/base.html" %}

{% block content %}

<h1>Tasks</h1>

<a class="btn btn-add" href="{% url 'todo:task-create' %}">+ Add Task</a>

{% for task in tasks %}
<div class="card">

    <h3>{{ task.content }}</h3>

    <p><b>Created:</b> {{ task.created_at }}</p>

    {% if task.deadline %}
        <p><b>Deadline:</b> {{ task.deadline }}</p>
    {% endif %}

    <p><b>Status:</b>
        {% if task.is_done %}
            Done
        {% else %}
            Not done
        {% endif %}
    </p>

    <p>
        <b>Tags:</b>
        {% for tag in task.tags.all %}
            {{ tag.name }}
        {% empty %}
            none
        {% endfor %}
    </p>

    <a class="btn btn-edit" href="{% url 'todo:task-update' task.id %}">Update</a>
    <a class="btn btn-delete" href="{% url 'todo:task-delete' task.id %}">Delete</a>

    {% if task.is_done %}
        <a class="btn btn-toggle" href="{% url 'todo:task-toggle' task.id %}">Undo</a>
    {% else %}
        <a class="btn btn-toggle" href="{% url 'todo:task-toggle' task.id %}">Complete</a>
    {% endif %}

</div>
{% endfor %}

{% endblock %}
